.topicCreationModal {
    width: 50%;
    max-width: none;
}

.active-editable:focus {
    border: 1px black solid;
    padding: 1px;
}

.add-new-unit {
    background-color: rgba(20, 20, 20, 0.4);
    cursor: pointer;
}

.add-new-unit:hover {
    background-color: rgba(20, 20, 20, 0.7);
    cursor: pointer;
}

/* https://react-bootstrap.github.io/components/modal/#modal-custom-sizing */
.modal-90w {
    max-width: none!important;
    width: 90%;
}