@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    
    embed {
        width: 210mm;
        /* height: 297mm; */
    }

    .dont-print {
        display: none;
    }
}
