@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }

    embed, canvas {
        width: 210mm;
        /* height: 297mm; */
    }

    .dont-print {
        display: none;
    }
}

/* This is used to create an a11y-compliant button that looks like an <a> tag. */
.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  .link-button:hover,
  .link-button:focus {
    text-decoration: none;
  }