body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.course-details-form-fieldset .form-control:disabled {
  appearance: none;
  background-color: inherit;
  border: none;
}

.course-details-form-fieldset .MuiIconButton-root.Mui-disabled {
  color: gray ! important;
}

.course-details-form-fieldset .MuiInputBase-root.Mui-disabled {
  color: inherit ! important;
}