#navbarParent {
    padding: 0px;
    margin-bottom: 3rem;
}

.toolbar {
    /* background-color: black; */
    margin-bottom: 3px;
}

.toolbar > * {
    margin: 5px 0px 5px 0px;
}

.toolbar #welcome-header {
    color: white;
    font-size: 2em;
    margin: auto;
}

/* 0.8 passes the Accessibility contrast test. */
.navbar-dark.footer, .navbar-dark a.dropdown-toggle.nav-link {
    color: rgba(255, 255, 255, 0.8);
}
.navbar-dark a.dropdown-toggle.nav-link:hover {
    color: rgba(255, 255, 255, 0.9);
}

.footer {
    font-size: 0.8em;
}