/* These styles mostly focus on overriding the Quill styles to achieve reasonable behaviors within the flexboxes. */

#quillgrid {
    /* This is required for the drag-and-drop overlay. */
    position: relative;
}

.ql-container {
    min-height: 10vh;
}

.ql-tooltip {
    z-index: 2;
}

.ql-editor {
    width: 100% !important;
    min-height: 10vh;
    height: 15vh;
    resize: vertical;
    overflow-y: auto;
}

.QuillReadonlyScrollingContainer {
    position: relative;
    width: 100%;
    margin: 5px;
}